@model Urlopy.Models.HolidayRange

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
        <br />
    
    <h1>W N I O S E K U R L O P O W Y </h1><img src="../img/logo.jpg" class="img-responsive" width="200" height="100" hspace="20">
        <br />
        
        <p>Nazwisko i imie:</p>
        <p>Stanowisko:</p>
        <br />
        <p>Jednostka organizacyjna:</p>
        <br />
        <br />
        <table border="1" cellpadding="5">
            <tr>
                <td>Rodzaj urlopu:</td> <td>Liczba dni:</td><td>Termin/y urlopu:</td>
            </tr>
            <tr>
                <td>URLOP WYPOCZYNKOWY podstawa prawna art. 152-173 KP lub Art.133 ustawy prawo o szkolnictwie wyższym</td><td>28</td><td>18.10.2002 - 20.08.2012</td>
            </tr>
        </table>
</body>
</html>

