@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-md-3" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
            <li><a href="#start">Start</a></li>
            <li><a href="#ogloszenia">Ogłoszenia</a></li>
            <li><a href="#info">Informacje o urlopach</a></li>
            <li><a href="#kalendarz">Twój kalendarz</a></li>
            <li><a href="#linki">Linki</a></li>
        </ul>
    </div>

    <div class="col-md-9">

        <h2 id="start">Start</h2>
        <p>
            Witamy na stronie urlopów Politechniki Białostockiej   
        </p>
        <p>
            Życzymy udanego urlopu!
        </p>
        <hr>
        <h2 id="ogloszenia">Ogłoszenia</h2>
        <p>
            Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
        </p>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Hello.</h3></div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                        Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Hello.</h3></div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                        Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h2 id="info">Informacje o urlopach</h2>
        <p>
            Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
        </p>
        <div class="row">
            <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
            <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
            <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
        </div>

        <hr>

        <h2 id="kalendarz">Twój kalendarz</h2>
        <p>
            Images are responsive sed but sum are more fun peratis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut..
        </p>
        <p>
            Fos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut..
        </p>
        <hr id="linki">

        <h2>Linki</h2>
        
        <p>
            Zarządzenie Nr 19/2009 Rektora PB w sprawie wprowadzenia w życie "Trybu udzielania urlopów wypoczynkowych nauczycielom akademickim PB":<br />
            <a href="~/pdf/Zarz%c4%85dzenie_19_2009.pdf">Zarządzenie 19 2009</a>
        </p>

        <p>Uchwała Senatu PB Nr 14/6/2009:<br />
        <a href="~/pdf/Uchwa%c5%82a_Senatu_PB.pdf">Uchwała Senatu PB</a>
        </p>

        <p>
            Statut PB (paragrafy 103 - 104):<br />
            <a href="http://www.bip.pb.edu.pl/index.php?event=informacja&id=8954">http://www.bip.pb.edu.pl/index.php?event=informacja&id=8954</a>
        </p>   
    <p>Regulamin pracy w PB:<br />
        <a href="http://bip.pb.edu.pl/index.php?event=informacja&id=10154">http://bip.pb.edu.pl/index.php?event=informacja&id=10154</a>
        </p>
        <p>
            Prawo pracy (informator dla pracodawców):<br />
            <a href="http://www.pip.gov.pl/pl/niezbednik-pracodawcy">http://www.pip.gov.pl/pl/niezbednik-pracodawcy</a>
        </p>
        <p>
            Ustawa Prawo o szkolnictwie wyższym:<br />
            <a href="http://isap.sejm.gov.pl/DetailsServlet?id=WDU20051641365+2010%2405%2420&min=1">http://isap.sejm.gov.pl/DetailsServlet?id=WDU20051641365+2010%2405%2420&min=1</a>
        </p>
        <hr />
        <p>
            Inne:<br />
            <a href="http://www.bip.pb.edu.pl/index.php?event=informacja&id=5930">http://www.bip.pb.edu.pl/index.php?event=informacja&id=5930</a>
            <br />
            <a href="http://www.bip.pb.edu.pl/index.php?event=informacja&id=5377">http://www.bip.pb.edu.pl/index.php?event=informacja&id=5377</a>
            <br />
            <a href="http://isap.sejm.gov.pl/DetailsServlet?id=WDU20140001359">http://isap.sejm.gov.pl/DetailsServlet?id=WDU20140001359</a>
        </p>
        <hr>

    </div><!--/right-->
</div><!--/row-->
